{% extends 'timeseries/base.html' %}

{% block content %}

<div class="content top card" style="">
    <strong>Справка</strong>
    <p>Сайт разработан с целью анализа и прогнозирования рождаемости в странах. </p>
    <p><strong>На вкладке "Вычисления"</strong> для работы вам необходимо будет предоставить файл с исходными данными в
        .csv формате и расположить их как <strong> <a href="{% url 'guide_page' %}">на шаблоне.</a></strong></p>
    <p><strong>На вкладке "Руководство"</strong> вы можете ознакомиться с тем, как высчитываются все данные и
        производится прогнозирования.</p>

</div>

{% endblock %}